 .innerBox div {
   background-image: url(gifs/box-bg-img.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: 200px 250px;
  background-color: white;
  border: 1px solid black;
  width: 150px;
  height: 200px;
  margin: 10px;
  display: inline-block;
} 
.rotate {
  transform : rotateY(180deg);
}

.third {
  width: 80px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Stick No Bills', sans-serif;
  width: 100%;
  height: 100vh;
  background-image: url(gifs/bg-image.jpg);
  background-size: 100% 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  font-size: 100px;
  color: white ;
}

.innerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.scoreInfo {
  display: flex;
  justify-content: space-around;
}
button {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color:  #660000;
}
button:hover {
  color: #660000;
  border: 2px solid #660000; 
  background-image: none;
  background-color: blanchedalmond;
}
.game {
  display: block;
  position: relative;
  left: -3000px;
  transition:500ms;
}

.start-btn, .level2, .level3 {
  display: block;
  transition: all 0.3s linear;
}
.moves , .scores ,.best {
  font-weight: 500;
  font-size: 25px;
  color: white;
}
.finalScore {
  display: block;
  position: relative;
  top: 200px;
  right: -3000px;
  transition: 500ms;
}
.levels {
  display: flex;
  max-width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popUp {
  display: none;
  position: relative;
  padding: 20px;
  top: -50%;
  left: 30%;
  background-color: white;
  color: #660000;
  width: 350px;
  border: 5px solid #660000;
  border-radius: 20px;
  transition: 500ms;
}
.cancel {

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:600px) {
  h1 {
    font-size: 60px;
  }
  .innerBox div {
    width: 100px;
    height: 100px;
    background-size: 50px 110px;
  }
  .game {
    margin-bottom: 250px;
  }
  .levels {
    flex-direction: column;
    height: 500px;
  }
}

/* @media screen and (max-width:420px) {
  .game {
    width: 325px;
  }
  .innerBox {
    padding: 100px;
  }
  
} */